
.nav-link {
    font-size: 13px !important;
}

.logo {
    width: 30px;
    height: 30px;
}

.profile-wrapper {
   display: flex;
   align-items: center;
   color: white;
   font-weight: bold;
   font-size: 13px;
}

.profile-wrapper > img {
    width: 28px;
    height: 28px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    margin-right: 10px;
}